<div class="footer " >

  

    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-6 ">
          <div class="card card-body block">
            <h5 class="text-center mb-3">Popular Roads</h5>
          
                <ul class="row">
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Hosuton to Dallas</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Dallas to Austin</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  League City to Dallas</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  San Antonio to Austin</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Arlington to Plano</li>
                    <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i>  Plano to Hosuton</li>
                    
                   
                </ul>
           
          </div>
        </div>
  
        <div class="col-md-6">
        <div class="card card-body block" >
            <div id="why_buy">                            
                <div class="info_right">
                    <h5 class="text-center mb-3">Why buy tickets from us?</h5>
                    <ul>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Buy bus tickets</b> anytime from anywhere</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Pay by credit card, mobile banking or cash</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Get tickets delivered to your doorstep</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Dependable customer service <b>(24 X 7)</b></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
      </div>
    <!--- <div class="row pt-5 mb-5 justify-content-center">
        <img src="../assets/img/sslcommerz_logo.png" class="img-fluid" alt="">
      </div> -->
      
    </div>
    <!-- Copyright -->
    <!-- Grid column -->
    <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a  class="btn btn-social-icon btn-google"href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a  class="btn btn-social-icon btn-facebook"href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a  class="btn btn-social-icon btn-linkedin"href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a  class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a  class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
    </li>
    <li class="list-inline-item">
      <a  class="btn btn-social-icon "href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </li>
  </ul>
  <!-- Social buttons -->

  <div class="footer-copyright text-center py-3">© 2020 Copyright:MyTrip.com

  </div>
  
  
  <!-- Copyright -->
  

  